:root {
    --primary-color: #8ace09;
    --secondary-color: #23222b;
}

@font-face {
    font-family: "hey_augustregular";
    src: url("../fonts/hey_august-webfont.php") format("woff2"),
        url("../fonts/hey_august-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
body {
    font-family: "Poppins", sans-serif;
}

body {
/*    overflow-x: hidden;*/
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
}

.desktopx .nav-link{ color:#fff !important; }
li.dropdown.responsive-menu.desktopx {
    margin: 0px -15px 0px 20px;
}
/*
.dropdown:hover>.dropdown-menu {
  display: block;
}*/


/*.dropdown:hover>.dropdown-menu {
  display: block;
}*/


body section.digital-platform.sec-pad {
    padding: 20px;
}

.form-wrapper.aos-init.aos-animate {
    padding: 0px 0px 0px 30px;
}

body .ordernow_form .form-control::placeholder {font-size: 11px;}
body .ordernow_form .form-control {
    border-radius: 20px !important;
    border: 1px solid;
    background: #fff;
    font-size: 12px;
    margin: 5px 0px 5px 0px;
    padding: 20px;
}

body .ordernow_form textarea#msg {
    height: 96px;
    padding: 10px 10px;
    border-radius: 15px;
    width: 100%;
    margin: 5px 0px 35px 0px;
    font-size: 12px;
}

body .ordernow_form label.form-check-label {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 14px;
}

.brnding-img1 {
    bottom: -31px;
    position: absolute;
    transition: all ease-in-out 0.5s;
}

.form-left-art figure img {
    background: #232323;
    padding: 10px 20px 7px 20px;
}

.bnr-img-st:hover .brnding-img1 {
    transform: scale(1.05);
    bottom: -19px;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}
.imgbundles img {
    max-width: fit-content;
}
p {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.acs_control_sec {
    display: none;
}
.services .slick-dots li:last-child { display:none; }
#brandLogo img {
    margin: 25px 0px 0px 0px;
    width: 100%;
}

.container-fluid {
    padding: 0 50px;
}

.sec-pad {
    padding: 90px 0;
}

.think-create img { width:100%; }

.about-us { background:url('assets/images/about-img.jpg') no-repeat; }


.newbox {
    margin: -30px 0px 15px 20px;
    line-height: 25px;
    font-size: 14px;
}

.heading42 {
    font-size: 48px;
    /* font-weight: 800; */
    color: var(--secondary-color);
}
.heading421 { font-size: 42px;}
.heading70 {
    font-size: 70px;
    font-weight: bold;
    color: #100f0f;
}

.heading70 span {
    color: #112846;
}

.sec-para {
    color: #666666;
    font-size: 18px;
    font-weight: 300;
}

.main-header {
    padding: 5px 0px 15px 0px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.logo-animated {
    max-width: 290px;
    margin: 0px;
}
.inner-header {
    border-bottom: 1px solid #303030;
    position: relative;
    background-color: #23222b;
}
.default-btn,
.default-btn-2 {
    border: 0;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    background-color: var(--primary-color);
    align-items: center;
    height: 51px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.default-btn:hover {
    color: var(--secondary-color);
}
.default-btn-2:hover {
    color: #fff !important;
}
.default-btn:after,
.default-btn:before {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.default-btn-2:after,
.default-btn-2:before {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
.default-btn:before {
    left: -20px;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.default-btn-2:after {
    right: -30px;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.default-btn-2:before {
    left: -20px;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.default-btn:after {
    right: -30px;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.default-btn:hover:before,
.default-btn-2:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.default-btn:hover:after,
.default-btn-2:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    to {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    to {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 40%;
        width: 20px;
        height: 20px;
    }
    to {
        right: 40%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 40%;
        width: 20px;
        height: 20px;
    }
    to {
        right: 40%;
        width: 375px;
        height: 375px;
    }
}
.header-btns .default-btn i {
    margin-right: 5px;
}
c {
    background-color: #23222b;
    border: 2px solid #23222b;
    color: #fff;
}

.main-header .navbar-nav.mr-auto {
    margin: 0 auto;
}

.main-header .nav-item {
    margin: 0 6px;
}
.main-header .nav-item:last-child {
    margin-right: 0;
}
.main-header .nav-item a {
    color: #bbc2ce;
    padding: 0 0 0 35px;
}
.main-header .navbar-collapse {
    list-style: none;
    padding: 0;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.menuInfo {
    padding-bottom: 15px;
}
.menuInfo ul {
    display: flex;
    /* padding: 0 25px 0 0; */
}
.menuInfo ul li {
    display: inline-block;
    padding-left: 35px;
}
.menuInfo ul li a i {
    padding-right: 11px;
    font-size: 15px;
}
.menuInfo ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.full-menu {
    padding: 0;
}
.menuInfo ul li a:hover,
.full-menu li a:hover {
    color: var(--primary-color);
}
.dropdown-item {
    color: #000 !important;
}

.navbar-expand-lg {
    padding: 0;
    justify-content: space-between;
}

.dropdown-menu.dropdown-services i {
    padding: 5px 8px;
    color: #131a24;
    transition: all 0.3s ease-in-out;
}

.dropdown-menu.dropdown-services .dropdown-item:hover i {
    transform: translateX(3px);
    color: #95ce00;
}

.dropdown-menu.dropdown-services .dropdown-item:hover {
    color: #8dc102 !important;
    background-color: #131a24;
}

.dropdown-menu.dropdown-services {
    color: #fff;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 10px 1px #00000024;
}

.dropdown-menu.dropdown-services .dropdown-item {
    padding: 3px 30px 3px 12px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}

.main-burger {
    display: none;
    cursor: pointer;
}

.main-burger svg {
    width: 50px;
    height: 50px;
    fill: #fff;
}

.main_navigation-overlay {
    background-color: #333;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    transform: translateX(-100%);
}

.main_nav-list {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/*.main_nav-list li a {
    text-decoration: none;
    font-size: 28px;
    padding: 0px;
    display: inline-block;
    color: #000;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    line-height: 70px;
}*/

.main_nav-list li {
    border-bottom: 1px solid #3d3d3d;
}
.main_nav-list li a {
    text-decoration: none;
    font-size: 28px;
    padding: 0px;
    color: #ebebeb;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    line-height: 64px;
}

.main_nav-list a:hover {
    border-color: #fff;
}

nav {
    height: 100%;
}
.tabs-portfolio .nav-tabs {
    border: 0 !important;
    justify-content: center;
    margin-bottom: 30px;
}
.cross-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

/* main banner start */
.main-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: -1;
}
.main-banner .bannerImg {
    background: #294780;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    align-items: center;
    z-index: -2;
}
.main-banner .bannerImg > * {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.home_banner_content {
    text-align: center;
}
.inner-banner {
    height: 100%;
    padding: 0 0 115px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #23222b;
}
.home_banner_content h2 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}
.home_banner_content h2 span {
    color: var(--primary-color);
}
.Typewriter__cursor {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
}
.home_banner_social {
    position: absolute;
    bottom: 72px;
    right: 60px;
}
.home_banner_social ul li a i {
    margin: 7px 0;
    color: #fff;
    font-size: 17px;
}
.home_banner_content #banner_typewriter {
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
}
.banner-content .ban-sm-head {
    font-size: 30px;
    color: #fff;
}
.banner-content .sec-para {
    font-size: 18px;
    padding: 15px 16% 15px 0;
}
.banner-btn .default-btn {
    margin: 20px 0 0 0;
    display: inline-flex;
    justify-content: center;
}
.banner-btn .default-btn i,
.banner-btn .default-btn-2 i {
    border: 2px solid #fff;
    margin-left: 10px;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: all .3s ease-in-out; */
}
.default-btn:hover i {
    border-color: #000 !important;
}

.main-banner .row,
.inner-banner .row {
    position: relative;
}
.banner-side-content {
    position: absolute;
    color: #fff;
    opacity: 0.5;
    transform: rotate(-90deg);
    left: -98px;
    bottom: 19%;
}
.sm-content {
    font-weight: 500;
}
.lg-content {
    font-size: 30px;
}
.ban-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55vw;
}
.ban-img2 {
    position: absolute;
    right: 0;
    bottom: 7%;
    width: 55vw;
    opacity: 0;
}
button:focus {
    outline: none;
}

/* portfolio start */
.port-tabs-list {
    display: flex;
    justify-content: space-around;
}
.port-tabs .nav-item .nav-link {
    color: #050316;
    font-weight: 500;
    border-bottom: 2px transparent;
    border-radius: 0;
    padding: 10px 8px;
    font-size: 15px;
}
.port-tabs .nav-item .nav-link.active,
.port-tabs .nav-item .nav-link:hover {
    color: #050316;
    background-color: transparent;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
}
.port-tabs .nav-item {
    margin-right: 3px;
}
.port-tabs {
    border-bottom: 1px solid #ebebeb;
}
.port-sec .container-fluid {
    padding: 0;
}
.port-tab-content {
    margin-top: 3%;
}
.port-btn {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.port-btn .default-btn {
    margin: 0;
}
.port-img a {
    position: relative;
}
.port-img img {
    width: 100%;
    border-radius: 12px;
}
.port-img:hover img {
    transform: scale(1.03);
}
.port-logo-inr-img1 {
    display: none !important;
}
.port-img,
.port-img img {
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}
.port-img.port-web-img-st {
    padding: 50px 38px 20px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
}
.port-img .port-web-st {
    width: 53%;
    height: 325px;
    position: absolute;
    padding: 0 20px;
    margin: 0 20px;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    box-shadow: 2px 2px 15px 3px #dadada;
}
.port-img.port-web-img-st a img {
    width: 80%;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 17px 1px #3a3a3a17;
    position: relative;
    top: -30px;
}
.port-img .port-web-st.port-web-th-img2 {
    right: 0;
    left: inherit;
}
.port-img.port-web-img-st:hover .port-web-st.port-web-th-img1 {
    transform: rotate(-12deg);
    width: 73%;
    position: absolute;
    left: 0;
}
.port-img.port-web-img-st:hover .port-web-st.port-web-th-img2 {
    transform: rotate(11deg);
    right: 0;
    left: inherit;
}
.port-img.port-web-img-st:hover a img {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.port-img.port-web-img-st img {
    border-radius: 20px;
}
.port-img .port-logo-inr-img1 {
    position: absolute;
    left: 52px;
    bottom: 0;
    top: 8px;
    margin: auto;
    width: 46%;
    transition-duration: 1s;
}
.port-img:hover .port-logo-inr-img1 {
    transform: scale(1.2);
    transition-duration: 1s;
}
.port-logo-inr-img1.logo-inr-img2 {
    width: 46%;
    top: -71px;
    left: 0;
    right: 0;
    bottom: 0;
}
.port-logo-inr-img1.logo-inr-img3 {
    width: 64%;
    right: 0;
    left: 0;
    top: -22px;
}
.port-logo-inr-img1.logo-inr-img4 {
    width: 41%;
    right: 54px;
    left: inherit;
    top: 16px;
}
.port-logo-inr-img1.logo-inr-img5 {
    width: 28%;
    right: 22px;
    top: 0;
}
.port-logo-inr-img1.logo-inr-img6 {
    width: 63%;
    margin: auto;
    left: 47px;
    top: 54px;
}
.port-logo-inr-img1.logo-inr-img7 {
    top: 92px;
    width: 53%;
    left: 28px;
}
.port-logo-inr-img1.logo-inr-img8 {
    width: 34%;
    top: 108px;
    left: 63px;
}
.port-logo-inr-img1.brnd-inr-img1 {
    width: 27%;
    top: -176px;
    left: 97px;
}
.port-logo-inr-img1.brnd-inr-img2 {
    width: 44%;
    left: 32px;
    top: 62px;
    bottom: 0;
    right: 0;
}
.port-logo-inr-img1.brnd-inr-img3 {
    width: 25%;
    right: 19px;
    top: -81px;
}
.port-logo-inr-img1.brnd-inr-img4 {
    width: 40%;
    right: 81px;
    left: inherit;
    top: -191px;
}
.port-logo-inr-img1.brnd-inr-img5 {
    width: 27%;
    top: -99px;
    left: 46px;
}
.port-logo-inr-img1.brnd-inr-img6 {
    width: 73%;
    top: 102px;
    left: 51px;
}
.port-logo-inr-img1.brnd-inr-img7 {
    left: inherit;
    right: 27px;
    top: -50px;
    width: 26%;
}
.port-logo-inr-img1.brnd-inr-img8 {
    left: inherit;
    right: 49px;
    top: 77px;
    width: 40%;
}

section.portfolio.port-sec.sec-pad {
    width: 95%;
    margin: 0px  auto;
}

/* about us start */
.about-us {
    padding: 90px 0 100px;
    position: relative;

    background: url(../images/about-img.jpg) no-repeat #efefef;
    background-position: right center;
    background-size: 50% 100%;
}
.sec-sm-heading {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.about-us .sec-sm-heading {
    position: relative;
}
.about-us .sec-sm-heading:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 420px;
    background-color: #ebebeb;
    right: -13%;
    top: 35%;
}
.about-us .sec-para {
    position: relative;
    z-index: 1;
    padding: 30px 0 0;
    color: #fff;
}
.about-img {
    position: absolute;
    top: 0;
    right: -60px;
}
.about-btn .default-btn-2 {
    margin: 10% 0 0 0;
}

/* service section */
.services {
    background-color: #23222b;
}
.services .sec-sm-heading {
    text-align: center;
}
.services .heading42 {
    --secondary-color: #fff;
    text-align: center;
}
.animation-slider-wrap {
    padding-top: 40px;
    position: relative;
}
.animation-slider-wrap:before {
    content: "";
    position: absolute;
    background-image: url(../images/animation-left-top.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 103px;
    height: 159px;
    right: 25%;
    top: 11%;
    z-index: 9;
}
.animation-slider-wrap:after {
    content: "";
    position: absolute;
    background-image: url(../images/animation-left-bottom.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 107px;
    height: 93px;
    left: 28%;
    bottom: 6%;
    z-index: 9;
}
.animation-slider .slick-list {
    padding-top: 25px;
}
.animation-slider {
    height: 580px;
    margin-bottom: 0px !important;
}
.animation-slider-item {
    margin: 10px;
}
.animation-slider-box {
    border-radius: 10px;
    background-color: #fff;
    height: auto;
    padding: 35px 25px;
    border: 4px solid #6d3b3b00;
    transition: all 0.2s linear 0ms;
    position: relative;
    box-shadow: 0px 0px 13px 0px rgba(3, 0, 43, 0.24);
    padding-bottom: 45px;
}
.animation-slider-box:hover {
    border: 4px solid var(--primary-color);
    transform: translateY(-30px);
    padding-bottom: 80px;
}
.animation-slider .slick-active {
    margin-top: 20px;
}
.animation-slider .slick-active + .slick-active {
    margin-top: 130px;
}
.animation-slider .slick-active + .slick-active + .slick-active {
    margin-top: 275px;
}
.animation-box-head {
    display: flex;
    align-items: center;
}
.animation-box-head h3 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
.animation-slider-box p {
    color: #6f6e78;
    font-weight: normal;
    font-size: 14px;
    padding: 17px 0px;
    line-height: 23px;
    padding-bottom: 10px;
}
.animation-slider-box a {
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 14px;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    font-weight: 600;
}
.animation-slider-box a:hover span:before {
    opacity: 1;
    bottom: 0;
    background-color: var(--secondary-color);
}
.animation-slider-box a span:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ff441f;
    opacity: 0;
    -webkit-transition: all 0.3s linear 0ms;
    -khtml-transition: all 0.3s linear 0ms;
    -moz-transition: all 0.3s linear 0ms;
    -ms-transition: all 0.3s linear 0ms;
    -o-transition: all 0.3s linear 0ms;
    transition: all 0.3s linear 0ms;
}
.animation-slider-box:hover a {
    opacity: 1;
    bottom: 50px;
}
.animation-slider .slick-dots li button {
    width: 15px;
    height: 15px;
    background-color: #d3d0ef;
    border-radius: 50px;
}
.animation-slider .slick-dots li {
    margin: 4px 0;
    box-shadow: none;
    background-color: transparent;
}
.animation-slider .slick-dots li button:before {
    display: none;
}
.animation-slider .slick-dots {
    display: flex;
    position: absolute;
    margin: 0;
    bottom: 70px;
    right: -40px;
    flex-direction: column;
    width: auto;
    display:none !important;
}
.animation-slider .slick-dots li.slick-active button {
    background-color: var(--primary-color);
    width: 17px;
    height: 17px;
}

/* packages start */
.packages {
    position: relative;
}
.packages .portfolio-tab-text {
    position: relative;
}
.packages .sec-sm-heading,
.packages .heading42 {
    text-align: center;
}
.package-cta {
    background-color: #23222b;
    padding: 50px 30px 30px;
    border-radius: 10px;
    position: absolute;
    width: 357px;
    text-align: left;
    color: #fff;
    top: -51px;
    z-index: 1;
    left: 0;
}
.package-cta .about-btn .default-btn {
    margin: 5% 0 0 auto;
}
.pack-cta-head {
    font-size: 36px;
    margin-bottom: 0;
}
.package-cta .sec-sm-heading {
    color: #fff;
    text-align: left;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: capitalize;
}
.package-cta .serv-para {
    padding: 15px 0 20px;
}
.justbg {
    background: #efefef;
    padding: 40px 30px 60px;
    border-radius: 5px;
}
.justbg h6 {
    margin: 0;
    text-transform: capitalize;
    font-size: 26px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    /* height: 60px; */
}
.ffprice {
    display: flex;
    align-items: center;
    justify-content: center;
}
.packagemeta h5 {
    display: flex;
    align-items: flex-start;
    padding-right: 10px;
    border-right: 1px solid #d8d8d8;
}
.borderr {
    margin: 15px 0px;
    color: #000000;
    font-size: 40px;
    font-weight: 800;
}
.borderr span.priceusd {
    font-size: 12px;
    font-weight: 400;
}
.packagemeta h4 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    color: #000000;
    margin-left: 10px;
    line-height: 1.25;
    text-align: left;
}
.blink {
    animation: blinker 1s step-start infinite;
}
@keyframes blinker {
    50% {
        color: #000;
    }
}
@keyframes blinkertwo {
    50% {
        color: #fff;
    }
}
.packagemeta h4 span {
    display: block;
    position: relative;
    text-decoration: line-through;
    color: red;
}
.pack-btn {
    text-align: center;
    margin: 20px 0px;
}
.pack-btn .default-btn-2 {
    padding: 0px 70px;
    border-radius: 50px;
    height: 35px;
    margin: 0;
}
.desccontent ul {
    margin-top: 10px;
    margin-bottom: 0px;
    list-style: none;
}
.desccontent ul span {
    color: #656565;
}
.desccontent ul li {
    color: #656565;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.271;
    position: relative;
    margin: 12px 0px;
    padding-left: 15px;
}
.desccontent ul li:before {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    color: var(--primary-color);
    font-weight: 900;
    left: 0;
}
.packages-wrapper .owl-nav button.owl-next,
.packages-wrapper .owl-nav button.owl-prev {
    background: #fff;
    border: 2px solid #9a9a9a;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.packages-wrapper .owl-nav {
    display: flex;
    justify-content: space-between;
}
.packages-wrapper .owl-nav .owl-prev {
    position: absolute;
    left: -5%;
    top: 50%;
    font-size: 18px;
}
.packages-wrapper .owl-nav .owl-next {
    position: absolute;
    right: -5%;
    top: 50%;
    font-size: 18px;
}
.packages-wrapper .owl-nav [class*="owl-"]:hover {
    background-image: -moz-linear-gradient(
        90deg,
        rgb(138 206 9) 0%,
        rgb(70 106 1) 100%
    ) !important;
    background-image: -webkit-linear-gradient(
        90deg,
        rgb(138 206 9) 0%,
        rgb(70 106 1) 100%
    ) !important;
    background-image: -ms-linear-gradient(
        90deg,
        rgb(138 206 9) 0%,
        rgb(70 106 1) 100%
    ) !important;
    color: #fff;
    border: transparent;
    text-decoration: none;
}
.packages-wrapper .owl-stage-outer .owl-stage {
    margin: 60px auto 0px;
}
.packages-wrapper .owl-item:hover .justbg {
    background: #000000;
}
.packages-wrapper .owl-item:hover .justbg h6,
.packages-wrapper .owl-item:hover .justbg h5,
.packages-wrapper .owl-item:hover .justbg .desccontent ul li,
.packages-wrapper .owl-item:hover .packagemeta h4 {
    color: #fff;
}
.packages-wrapper .owl-item:hover .pack-btn .default-btn-2:before,
.packages-wrapper .owl-item:hover .pack-btn .default-btn-2:after {
    display: none;
}
.packages-wrapper .owl-item:hover .blink {
    animation: blinkertwo 1s step-start infinite;
}
.portfolio-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px;
}
.portfolio-tabs .nav-tabs .nav-item {
    border: transparent;
    color: #000;
}
.portfolio-tabs .nav-tabs .nav-link.active,
.portfolio-tabs .nav-tabs .nav-link:hover {
    color: #050316;
    background-color: transparent;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0;
}

.reliable {
    padding: 80px 0 100px 0;
}

/* think create start */
.think-create {
    position: relative;
    background-color: #efefef;
}
.heading42 span {
    color: var(--primary-color);
}
.think-create .sec-para {
    font-size: 16px;
    color: #000;
    padding: 10px 0 20px;
}
.create-btn .default-btn {
    margin: 0% 0 0 0;
}
.create-img {

    right: -85px;
    bottom: 0;
}

/* cta start */
.main-cta {
    padding: 30px 0;
    background-color: #0f0f14;
    position: relative;
}
.main-cta .heading42,
.main-cta .sec-para {
    color: #fff;
}
.cta-img1 {
    position: absolute;
    top: -80px;
    width: 100%;
}
.cta-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.cta-btns .default-btn,
.cta-btns .default-btn-2 {
    margin: 0;
    display: flex;
    width: 31%;
    justify-content: center;
    /* padding: 10px 0; */
}
.cta-btns a:nth-child(2) {
    background-color: #fff;
    color: #000;
}
.cta-btns a:nth-child(2) i {
    border: 2px solid #000;
}

/* digital-platform start */
.digital-platform {
    background-image: url(../images/platform-bg.jpg);
    background-size: cover;
    background-position: right;
}
.digital-platform .heading42,
.digital-platform .sec-sm-heading {
    text-align: center;
}
.designing-wrapper {
    background-color: #23222b;
    color: #fff;
    padding: 30px 15px;
    height: 310px;
    transition: all 0.3s ease-in-out;
}
.designing-wrapper .serv-name {
    padding-bottom: 15px;
}
.designing-wrapper:hover {
    transform: scale(1.05);
}
.col-lg-4:nth-child(2) .designing-wrapper {
    background-image: url(../images/digital-box-bg.jpg);
    opacity: 0.8;
}
.designing-wrapper .serv-para {
    font-size: 16px;
}
.digital-serv {
    margin-top: 50px;
}
.m-top {
    margin-top: 50px;
}
.digital-platform .serv-btn {
    margin-top: -15px;
    position: relative;
    z-index: 1;
}
.digital-cta li {
    padding-bottom: 10px;
}
.form-area {
    margin-top: 100px;
}
.form-area .heading42,
.form-area .sec-sm-heading {
    text-align: left;
}
.form-area .heading42 {
    font-size: 43px;
}
.form-area .sec-para {
    color: #000;
    padding: 10px 0 48px;
}
.digital-cta li a {
    color: #23222b;
    font-weight: 600;
}
.digital-cta li a i {
    margin-right: 7px;
    color: var(--primary-color);
}
.digital-cta li:hover a {
    color: var(--primary-color);
}

/* form area */
.form-area .contact-form .form-control,
.form-area .contact-form textarea {
    border: none;
    margin-bottom: 50px;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
    width: 100%;
    resize: none;
    background-color: transparent;
    height: 40px;
    padding-left: 0;
}
.form-area .form-control::placeholder,
.form-area .contact-form textarea {
    color: #6f6f6f;
    opacity: 1;
    font-size: 14px;
}
.form-btn {
    display: flex;
    justify-content: end;
    width: 100%;
}
.form-btn button {
    display: flex;
}
.form-btn button i {
    border: 2px solid #fff;
    margin-left: 10px;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-image: url(../images/footer-bg.png);
    height: 100%;
}
.footer-logo-area {
    text-align: right;
}
footer .social-icons {
    display: flex;
    justify-content: end;
    margin: 15px 0 0;
}
footer .social-icons li a i {
    color: #fff;
}
.bark-logo {
    margin: 15px 0 0 0px;
}
.footer-form-address {
    padding: 25px 20px;
    background-color: #bc1244;
    margin-left: -5px;
    position: relative;
    z-index: 1;
}
.footer-logo {
    margin: 0;
}
.footer-cont-details li a {
    font-weight: 600;
}
.footer-form-address ul li {
    padding-bottom: 20px;
}

.footer-form-address ul li:last-child {
    padding-bottom: 0;
}

.footer-form-address ul li a {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    display: flex;
}

.footer-form-address ul li a i {
    padding-right: 15px;
    padding-top: 5px;
}

.form-right-img img {
    width: 84%;
}

.form-right-img {
    position: absolute;
    top: 4%;
    right: 0;
}

.footer-top {
    padding: 60px 0 80px 0;
}

.footer-top .ft__nav .mw-60 {
    max-width: 90%;
}

.footer-top .ft__nav p {
    font-size: 14px;
    color: #676767;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-top .ft__nav h4 {
    font-size: 18px;
    color: var(--white);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer-top .ft__nav ul li {
    margin-bottom: 10px;
}

.footer-top .ft__nav ul li a {
    color: #ffffff;
    font-size: 14px;
}

.footer-top .ft__nav ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-top .ft__nav ul li a i {
    color: var(--primary-color);
    padding-right: 4px;
}

.footer-top .get-in-touch h6 {
    color: var(--white);
}

.footer-top .get-in-touch ul li a {
    color: #737373;
    font-size: 14px;
}

.footer-top .get-in-touch ul li a:hover {
    color: var(--primary-color);
}

.footer-bottom {
    border-top: 1px solid #5d5c5e;
    padding: 30px 0;
}

.footer-bottom .copy-rights p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
}

.footer-bottom .copy-rights ul {
    display: flex;
    margin-left: 10px;
    justify-content: end;
}

.footer-bottom .copy-rights ul li a {
    font-size: 15px;
    color: var(--white);
    padding-right: 5px;
}

.footer-bottom .copy-rights ul li a:hover {
    text-decoration: underline;
}

.footer-bottom .social-icons ul li {
    margin-right: 10px;
    display: inline-block;
}

.footer-bottom .social-icons ul li:last-child {
    margin-right: 0;
}

.footer-bottom .social-icons ul li a span {
    color: #333333;
    background-color: var(--white);
    border-radius: 25px;
    line-height: normal;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* inner pages start */
.banner-text {
    padding-bottom: 15px;
    z-index: 1;
    position: relative;
}
.inner-banner .sec-sm-heading {
    color: #66656a;
    text-transform: capitalize;
    letter-spacing: 0;
}
.inner-banner .heading42 {
    color: #fff;
    font-weight: 400;
}
.inner-banner .heading42 span {
    font-weight: 700;
}
.inner-banner .sec-para {
    padding:15px 20px 15px 0;
}
.banner-list {
    color: #fff;
    font-weight: 500;
    margin-bottom: 35px;
}
.banner-list li {
    line-height: 35px;
}
.banner-list li i {
    color: var(--primary-color);
    margin-right: 8px;
}
.inner-banner .banner-btn .default-btn {
    margin: 0% 0 0 0;
}
.bnr-img-st {
    height: 600px;
    position: relative;
    z-index: 1;
    background-color: #4e700b;
    text-align: center;
    margin: 0 auto;
    border-radius: 0 0 40px 40px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.seo-img-set {
    background-color: #fff;
    overflow: hidden;
}
.seo-img-set:before {
    display: none;
}
.seo-ban-img1 {
    position: absolute;
    bottom: 10%;
    transition: all ease-in-out 0.5s;
}
.bnr-img-st::before {
    content: "";
    position: absolute;
    background-image: url(../images/before-shadow.png);
    background-position: 100%;
    width: 273px;
    height: 201px;
    bottom: -15px;
    left: -12px;
    z-index: -1;
}
.logo-bnr-1 {
    position: absolute;
    bottom: 0;
    left: 0px;
}
.logo-bnr-2 {
    position: absolute;
    bottom: 0;
    right: -80px;
    transition: all ease-in-out 0.5s;
}
.bnr-img-st:hover .logo-bnr-2 {
    transform: scale(1.1);
    bottom: 24px;
}

/* logos area start */
.banner-logo {
    padding: 25px 0;
    position: relative;
}
.banner-logo:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 34%;
    background-color: #3d3c46;
    top: 0;
}
.logo-side-img ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-side-txt h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.logo-side-txt span {
    font-size: 24px;
    display: block;
    font-weight: 500;
}
.inner-packages-area {
    margin-top: 20px;
}
.heading42 i {
    color: var(--primary-color);
}

/* testimonial start */
.testi-slider {
    margin-top: 40px;
}
.testi-img {
    opacity: 0.5;
}
.testi-wrapper {
    padding: 24px;
    border: 1px solid transparent;
    transition: all 0.2s linear;
    background-color: transparent;
    height: 100%;
}
.testi-wrapper:hover {
    background-color: #ededed;
    border-color: var(--primary-color);
}
.testi-wrapper img {
    width: auto !important;
}
.client-detail,
.testi-img {
    display: flex;
    justify-content: center;
}
.client-review p {
    font-size: 15px;
    text-align: center;
    line-height: 26px;
    padding-top: 13px;
    min-height: 185px;
}
.client-name {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.client-name h4 {
    font-size: 14px;
}
.client-name h5 {
    font-size: 14px;
    font-weight: 500;
}
.testi-slider.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 32.8%;
    justify-content: space-between;
    z-index: -1;
    display: flex;
}
.testi-slider.owl-carousel .owl-nav button {
    border-radius: 0 !important;
    transition: all 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    opacity: 0;
    font-size: 30px;
    background-color: #0f0f14;
    color: #fff;
    width: 29.2%;
    height: 61px;
    position: relative;
    bottom: 7px;
}
.testi-slider .owl-nav button.owl-next {
    margin-right: -197px;
    transform: rotate(-90deg) translateY(-50px);
}
.testi-slider .owl-nav button.owl-prev {
    margin-left: -197px;
    transform: rotate(-90deg) translateY(50px);
}
.testi-slider:hover .owl-nav button {
    transform: rotate(-90deg) translateY(0);
    opacity: 1;
}
.testi-slider .owl-dots {
    margin-top: 30px;
}
.testi-slider .owl-dots .owl-dot.active span,
.testi-slider .owl-dots .owl-dot:hover span {
    background: #8ace09;
}

/* logos-creating start */
.logos-creating .sec-sm-heading,
.logos-creating .heading42 {
    text-align: center;
}
.logos-creating .nav-link:focus,
.logos-creating .nav-link:hover {
    border: 1px solid transparent;
}
/* .web-service-box:hover{
    background-color: #23222b;
} */
.web-service-box .nav-link {
    color: #000;
}
.logos-creating .web-service-box .service-text-wrap {
    text-align: left;
    color: #000;
}
.logos-creating .service-tab-wrap {
    border: none;
    padding: 50px 0 25px 0;
}
.logos-creating .service-text {
    padding: 15px 0 8px 0;
}
.logos-creating .de-serv-img {
    height: 55px;
}
.logos-creating .inner-tab-content {
}
.logos-creating .inner-service-image-box {
}
.hover-effect a img {
    border-radius: 29px;
    transition: all 0.4s ease-in-out;
}
.custom-box a img:hover {
    color: #d8d5cb;
    -webkit-transform: scale(1.1);
    -khtml-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 0px #a9a9a9;
}
.logos-creating .web-serv-img02 {
    padding: 11% 0 0 24%;
}
.logos-creating .service-tab-wrap .nav-item.show .nav-link,
.service-tab-wrap .nav-link.active {
    background-color: #23222b;
    border-color: transparent;
    height: 100%;
}
.logos-creating .service-tab-wrap .nav-link.active .service-text h3,
.web-service-box:hover .nav-link .service-text h3 {
    color: #8ace09;
}
.logos-creating .service-tab-wrap .nav-link.active .service-text-wrap p,
.web-service-box:hover .nav-link .service-text-wrap p {
    color: #fff;
}
.logos-creating .service-tab-wrap .nav-link.active .de-serv-img img,
.web-service-box:hover .nav-link .de-serv-img img {
    filter: invert(73%) sepia(64%) saturate(844%) hue-rotate(30deg)
        brightness(92%) contrast(93%);
}
.web-service-box a.active,
.web-service-box:hover {
    /* box-shadow: 0 0 16px 0 #d2d2d2; */
    background-color: #23222b;
}
.web-service-box.box-1 {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.web-service-box.box-3 {
    border-right: 1px solid #e6e6e6;
}
.web-service-box.box-2 {
    border-bottom: 1px solid #e6e6e6;
}
.web-service-box a.nav-link {
    padding: 30px 20px;
}
.web-serv-btn {
    margin-top: 0px;
    margin-left: 14px;
}

/* noman-css */
.mbl-bnrimg {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
}
.bnr-img-st:hover .mbl-bnrimg {
    transform: scale(1.05);
    right: 11px;
    bottom: 14px;
}
/* noman-css */

/* salman css  */
.contact-pg-form .form-area {
    margin-top: 30px;
}
.contact-pg-form .form-wrapper .sec-para {
    font-size: 16px;
}
.contact-pg-form .form-wrapper .heading42 {
    font-size: 48px;
}
.contact-pg-form .digital-cta li a i,
.contact-pg-form .digital-cta li a img {
    margin-right: 15px;
    color: var(--secondary-color);
    transition: all ease-in-out 0.3s;
    margin-top: 7px;
}
.contact-pg-form .digital-cta li a strong {
    font-size: 18px;
}
.contact-pg-form .digital-cta li a span {
    color: #23222b;
    font-weight: 400;
    font-size: 16px;
    display: block;
}
.contact-detail-wrapper {
    background-color: #8ace09;
    padding: 0px 40px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-detail-wrapper .digital-cta {
    padding: 30px 0;
}
.contact-detail-wrapper .digital-cta li:hover a {
    color: var(--secondary-color);
}
.contact-detail-wrapper .digital-cta li:hover a i,
.contact-detail-wrapper .digital-cta li:hover a img {
    /* transform: scale(1.1); */
    margin-right: 10px;
}
.contact-detail-wrapper .digital-cta li a {
    display: flex;
    align-items: flex-start;
}
.contact-detail-wrapper .social-icons {
    display: flex;
}
.social-icons li a {
    color: var(--secondary-color);
}
.social-icons li {
    margin: 0 9px;
}
.social-icons li:last-child {
    margin-right: 0;
}
.contact-main-banner {
    background-image: url(../images/contact-ban-bg.jpg);
    height: 100%;
    padding: 110px 0 110px !important;
}
.contact-main-banner .heading42,
.pricing-main-banner .heading42 {
    text-align: center;
}
.pricing-main-banner {
    background-image: url(../images/pricing-bg.jpg);
    height: 100%;
    padding: 110px 0 110px !important;
}
.portfolio-main-banner {
    background-image: url(../images/portfolio-bg.jpg);
    background-size: cover;
    padding: 110px 0 110px !important;
}

/* animation page start */
.anim-img {
    position: absolute;
    right: 0px;
    bottom: 20px;
    transition: all ease-in-out 0.5s;
}
.bnr-img-st:hover .anim-img {
    transform: scale(1.05);
}

/* ntf-design start */
.nft-ban-img {
    position: absolute;
    bottom: 22%;
    right: 0;
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}
.bnr-img-st:hover .nft-ban-img,
.bnr-img-st:hover .web-ban-img,
.bnr-img-st:hover .smm-ban-img1 {
    transform: scale(1.2);
}
/* .bnr-img-st:hover{
    overflow: hidden;
} */
.bnr-img-st:hover .seo-ban-img1 {
    transform: scale(1.1);
}
.web-ban-img {
    position: absolute;
    bottom: 10%;
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}
.smm-ban-img1 {
    position: absolute;
    bottom: 20%;
    transition: all ease-in-out 0.5s;
    transform: scale(1.1);
}
.nft-design .get-started-popup {
    padding: 0 10% 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nft-design .image3 {
    top: -10px;
}

.nft-design .popup-headig {
    padding-right: 0%;
    margin-bottom: 3%;
}

.nft-design .heading-h1 {
    font-size: 42px;
    margin-bottom: 0;
    line-height: 44px;
    display: inline-block;
}

.nft-design .heading-h2 {
    line-height: 100px;
}

.nft-design .heading-h3,
.nft-design .long-h1 {
    display: none;
}

/*********POPUP START*********/
.form-left-art h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #292929;
    margin-bottom: 20px;
}

.form-left-art h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 54px;
    color: #8ace09;
    margin-bottom: 40px;
}
.form-left-art sup {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    vertical-align: super;
    position: absolute;
    left: 49px;
    top: 27px;
}

.form-left-art h4 {
    font-family: "Poppins", sans-serif;
    font-size: 111px;
    margin-bottom: 0;
    background-color: #8ace09;
    color: #fff;
    margin-left: -50px;
    position: relative;
    padding: 0 106px;
    line-height: 125px;
    max-width: 380px;
}

.popup-main-wrap {
    padding: 80px 36px;
    background-color: #000;
    border: 5px solid #8ace09;
    border-radius: 15px;
}

.form-right-art h3 {
    font-weight: 400;
    font-size: 25px;
    color: #a1a1a1;
    margin-bottom: 0;
}
.form-right-art h2 {
    font-weight: 700;
    font-size: 41px;
    color: #fff;
    margin-bottom: 30px;
}

.form-left-art {
    background-image: url(../images/popup-img.html);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 90px 20px 50px;
    border-radius: 15px;
    margin-left: -125px;
}

.sup2 {
    left: 310px !important;
    top: 46px !important;
}

.ftr-frm input,
.ftr-frm button {
    border-radius: 50rem !important;
    padding: 10px 31px !important;
    height: auto;
}

.ftr-frm button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
    background-color: #8ace09;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
}

.ftr-frm button:focus {
    outline: none;
}

.entry-box1 {
    max-width: 900px;
    margin: 0 auto;
    max-height: 580px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    overflow: unset !important;
    display: none;
}

.cross {
    position: absolute;
    color: #fff;
    right: -30px;
    top: -76px;
    padding: 10px 15px !important;
    background-color: #8ace09 !important;
    border-radius: 50%;
    opacity: 1;
}

.form-left-art h4::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 125px;
    background-color: #8ace09;
    clip-path: polygon(100% 47%, 0 0, 0 100%);
    top: 0;
    right: -44px;
}

/*********POPUP END*********/

.permonth{ font-size: 0.7rem;
    display: block;
    margin-top: 1.2rem;
    margin-left: 0.5rem; }
.seopack .borderr span.priceusd{     
    position: absolute;
    right: 3rem; }
.seopack .packagemeta h5{ position: relative; }    



#nav-1520 .packagemeta h4{ display: none; }
#nav-1520 .packagemeta h5{ border-right: none; }

@media screen and (max-width: 991px)
{




section.about-us {
    background-image: none;
}

section.think-create.sec-pad {
    width: 96%;
    margin: 0px auto;
    padding: 20px 20px;
    text-align: justify;
}

}