@media screen and (max-width: 1600px) {
    .main-header .nav-item {
        margin: 0 0px;
    }
    .banner-side-content {
        bottom: 33%;
    }
    .about-img {
        right: -214px;
    }
    .cta-img1 {
        top: -78px;
        width: 100%;
    }
    .main-cta {
        padding: 26px 0;
    }
    .banner-logo:before {
        width: 31%;
    }
}

@media screen and (max-width: 1440px) {
    /* noman-css */
    .brnding-img1{
        width: 93%;
        bottom: -25px;
    }
    .bnr-img-st {
        width: 80%;
        height: 485px;
        right: 0;
    }
    .bnr-img-st:hover .brnding-img1{
        bottom: -15px;
    }
    .mbl-bnrimg {
        width: 93%;
    }
    /* noman-css */
    .banner-content .sec-para {
        padding: 15px 0;
    }
    .main-header .nav-item {
        margin: 0 20px;
    }
    .default-btn, .default-btn-2 {
        margin: 0 5px;
    }
    .banner-side-content {
        bottom: 34%;
    }
    .about-img {
        right: -294px;
    }
    .service-wrapper {
        gap: 50px 70px;
    }
    .create-img {
        right: -250px;
    }
    .inner-banner .banner-btn .default-btn {
        margin: 6% 0 0 0;
    }
    .inner-banner .sec-sm-heading {
        letter-spacing: 0px;
    }
    .banner-logo:before {
        width: 28%;
    }
    .inner-banner {
        padding: 0px 0 80px;
    }
    .bnr-img-st {
        height: 600px;
        width: 100%;
    }
    .form-left-art h3 {
        font-size: 22px;
    }
    .form-left-art h3 {
        font-size: 22px;
    }
    .form-left-art h4 {
        font-size: 76px;
    }
    .sup2 {
        left: 248px !important;
    }
    .form-right-art h2 {
        font-size: 30px;
    }
    .ftr-frm button {
        font-size: 15px;
    }
    .form-left-art h2 {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .form-left-art h4::after {
        right: -44px;
    }
    .form-right-art {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-header .nav-item a {
        padding: 0 0 0 0px;
    }
}

@media screen and (max-width: 1366px) {
    .tabs-portfolio .nav-tabs li {
        padding: 0 10px;
    }
    .default-btn a:first-child {
        margin: 0 10px 0 0;
    }
    .home-logo {
        width: 80%;
    }
    .main-header .nav-item {
        margin: 0 10px;
    }
    .banner-side-content {
        left: -95px;
    }
    .default-btn {
        padding: 5px 30px;
    }
    #brandLogo img {
        margin-left: 0px;
    }
    .banner-side-content {
        bottom: 23%;
    }
    .banner-content {
        margin: 7% 0 0% 17%;
    }
    .about-img {
        right: -289px;
        width: 71%;
        object-fit: cover;
        object-position: -190px;
    }
    .serv-anim-text-top {
        top: 18%;
    }
    .about-us{
        margin-top: 20px;
    }
    .about-us {
        padding: 70px 0 170px;
    }
    .sec-pad {
        padding: 60px 0;
    }
    .main-cta {
        padding: 29px 0;
    }
    .cta-img1 {
        top: -80px;
    }
    .about-us .sec-sm-heading:before {
        width: 460px;
        right: -25%;
    }
    .reliable {
        padding-bottom: 130px;
    }
    .create-img {
        right: -220px;
        width: 66%;
    }

    .cta-img1 {
        width: 97%;
    }
    .port-img .port-web-st {
        height: 290px;
    }
    .digital-platform  .sec-pad {
        padding: 100px 0;
    }
    .default-btn, .default-btn-2 {
        height: 44px;
    }

    .logo-bnr-1 {
        left: -60px;
        width: 70%;
    }
    .logo-bnr-2 {
        right: -44px;
        height: 80%;
    }
    .inner-banner .banner-btn .default-btn {
        margin: 2% 0 0 0;
    }
    .banner-list li {
        line-height: 27px;
    }
    .inner-banner .sec-para {
        padding: 10px 0;
    }
    .bnr-img-st:hover .logo-bnr-2 {
        bottom: 20px;
    }
    .banner-logo:before {
        width: 27%;
    }
    .banner-logo {
        padding: 17px 0;
    }
    .contact-ban-img.bnr-img-st {
        height: 450px;
    }
    .inner-banner {
        padding: 0px 0 100px;
    }
    .portfolio .portfolio-main-banner {
        background-position: 75% 100%;
    }
    .portfolio-main-banner{
        background-position: center;
    }
    .bnr-img-st {
        height: 480px;
        width: 90%;
    }
    .web-ban-img {
        bottom: 6%;
    }
    .image2 {
        top: -80px;
    }
    .image3 {
        top: 20px;
    }
    .image4 {
        top: -75px;
    }   
    .anim-img {
        width: 85%;
    }
    .anim-banner .bnr-img-st {
        height: 515px;
    } 
    .anim-banner .banner-list {
        margin-bottom: 20px;
    }
    .menuInfo ul {
        padding: 0 14px 0 0;
    }
    .anim-img {
        right: 33px;
    }
    .packages-wrapper {
        margin: 0 auto;
    }
    .seo-ban-img1 {
        bottom: 3%;
    }
}

@media screen and (max-width: 1280px) {
    .banner-content .sec-para {
        font-size: 18px;
        padding: 15px 9% 15px 0;
    }
    .lg-content {
        font-size: 26px;
    }
    .banner-side-content {
        left: -72px;
    }
    .port-img .port-web-st {
        height: 260px;
    }
    .main-cta {
        padding: 30px 0;
    }
    .cta-img1 {
        top: -81px;
    }
    .inner-banner .banner-btn .default-btn {
        margin: 2% 0 0 0;
    }
    .inner-banner {
        padding: 0px 0 60px;
    }
    .banner-logo:before {
        width: 26%;
    }
    .logos-creating .web-serv-img02 {
        padding: 11% 0 0 23%;
    }
    .form-left-art h2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 1199px) {
    /* .main-header .nav-item a {
        font-size: 14px;
    } */
    .main-header .nav-item {
        margin: 0 3px;
    }
    .port-tabs .nav-item .nav-link {
        padding: 9px 5px;
        font-size: 14px;
    }
    .heading42 {
        font-size: 42px;
    }
    .about-us .sec-sm-heading:before{
        display: none;
    }
    .about-img {
        width: 75%;
    }
    .service-wrapper {
        gap: 50px 30px;
    }
    .package-cta {
        padding: 50px 18px 30px;
        width: 290px;
    }
    .pack-btn .default-btn i {
        margin-left: 6px;
        height: 16px;
        width: 16px;
    }
    .pack-btn .default-btn {
        padding: 10px 8px;
        font-size: 14px;
    }
    .create-img {
        width: 59.5%;
    }
    .main-cta {
        padding: 20px 0;
    }
    .designing-wrapper .serv-para {
        font-size: 14px;
    }
    .designing-wrapper {
        height: 290px;
    }
    .cta-img1 {
        width: auto;
        top: -64px;
    }
    .reliable {
        padding-bottom: 50px;
    }
    .default-btn i, .default-btn-2 i {
        margin-right: 6px;
    }
    .about-us .sec-para {
        padding: 0px 0 30px;
    }
    .about-us {
        padding: 50px 0 80px;
    }
    .sec-pad {
        padding: 60px 0;
    }
    .form-area .heading42 {
        font-size: 36px;
    }
    .form-area .sec-para {
        font-size: 16px;
    }
    .footer-form-address ul li a {
        font-size: 14px;
    }
    .footer-form-address ul li a i {
        padding-right: 8px;
    }
    .footer-top .ft__nav ul li a i {
        padding-right: 2px;
    }
    .footer-top .ft__nav ul li a {
        font-size: 13px;
    }
    .footer-bottom .copy-rights p {
        font-size: 14px;
    }
    .footer-bottom .copy-rights ul li a {
        font-size: 13px;
        padding-right: 0px;
    }
    .footer-top .ft__nav p {
        font-size: 13px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .bnr-img-st {
        right: 0px;
        width: 100%;
    }
    .banner-logo:before {
        width: 29%;
    }
    .logo-side-img ul li img {
        width: 85%;
    }
    .logos-creating .web-serv-img02 {
        padding: 5% 0 0 0%;
    }
    .testi-slider .owl-nav button.owl-prev {
        margin-left: -197px;
    }
    .testi-slider .owl-nav button.owl-next {
        margin-right: -197px;
    }
    .testi-slider.owl-carousel .owl-nav button {
        width: 35.8%;
    }
    .service-text-wrap p {
        font-size: 14px;
    }
    .web-service-box a.nav-link {
        padding: 20px 15px;
    }
    .service-text h3 {
        line-height: 1;
        font-size: 24px;
    }
    .form-left-art h2 {
        font-size: 36px;
    }
    .form-right-art h2 {
        font-size: 28px;
    }
    .form-left-art h4 {
        font-size: 68px;
    }
    .ftr-frm button {
        font-size: 14px;
    }
    .main-header .nav-item a {
        padding: 0 0 0 13px;
    }
}

@media screen and (max-width: 991px) {
    .home_banner_content h2 {
        font-size: 60px;
    }
    .logo-animated {
        max-width: 220px;
    }
    .packages .portfolio-tab-text {
        display: flex;
        flex-direction: column;
    }
    .portfolio .portfolio-main-banner {
        background-position: 62% 100%;
    }
    .packages .portfolio-tab-text > .row {
        order: 1;
    }
    .package-cta {
        position: relative;
        width: 100%;
        top: 0;
        margin: 30px 15px;
    }
    .ban-img {
        right: -20px;
        width: 50vw;
    }
    .dropdown-menu.dropdown-services {
        position: relative !important;
        transform: translate(0px, 0px) !important;
        max-height: 370px;
        overflow-y: scroll;
        width:100%;
    }
    #brandLogo img {
    margin: 30px 0px 0px 0px;

}
    .dropdown-menu.dropdown-services .dropdown-item {
        font-size: 20px;
        line-height: 20px;
    }
    .main_nav-list a:hover {
        border-color: transparent;
    }
    .footer-top .ft__nav p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .footer-top .ft__nav ul li a {
        font-size: 15px;
    }
    .footer-top .ft__nav h4 {
        margin-bottom: 12px;
    }
    .ft__nav {
        padding-bottom: 20px;
    }
    .footer-top {
        padding: 60px 0 20px 0;
    }
    .footer-cta {
        padding: 0 15px !important;
    }
    .main-burger {
        display: block;
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(0%);
    }
    .main-header .navbar-brand {
        margin: -20px 0px 0px 40px
    }
    .heading42 {
        font-size: 32px;
    }
    .main_nav-list li a {
        font-size: 28px;
        color:  #ebebeb;
    }
    .port-tabs .nav-item .nav-link {
        padding: 9px 7px;
        font-size: 15px;
    }
    .port-tabs-list {
        justify-content: left;
        margin-top: 15px;
    }
    .about-us .sec-para {
        font-size: 15px;
    }
    .about-img {
        width: 72%;
        right: -190px;
    }
    .m-top-box, .m-top{
        margin-top: 0;
    }
    .serv-btn {
        margin-top: 20px;
    }
    .service-wrapper .owl-stage-outer .owl-item img {
        width: auto !important;
    }
    .cta-btns .default-btn, .cta-btns .default-btn-2 {
        padding: 10px 8px;
        width: 32%;
    }
    .reliable .heading42 {
        text-align: center;
    }
    .cta-img-area{
        display: none;
    }
    .digital-platform .serv-btn {
        margin-top: 20px;
    }
    .form-area .heading42 {
        font-size: 33px;
    }
    .form-area .contact-form .form-control, .form-area .contact-form textarea {
        margin-bottom: 30px;
    }
    .create-img {
        width: 75.8%;
        right: -310px;
    }
    .port-img.port-web-img-st a img {
        width: 100%;
    }
    .port-img .port-web-st {
        height: 220px;
    }
    .portfolio-tabs .nav-tabs .nav-item {
        padding: 8px 14px;
    }
    .portfolio-tabs {
        padding: 30px 0;
    }
    .serv-hover-img{
        display: none !important;
    }
    .serv-anim-text-top {
        top: 24%;
        font-size: 100px;
    }
    .ban-img2 {
        right: -120px;
    }
    .inner-banner {
        padding: 70px 0 70px;
    }
    .bnr-img-st {
        width: 90%;
        height: 420px;
        top: 0;
    }
    .logo-bnr-1 {
        bottom: 1px;
    }
    .bnr-img-st:hover .logo-bnr-2 {
        bottom: 17px;
    }
    .logo-side-txt h2 {
        color: #23222b;
        text-align: center;
        padding-bottom: 25px;
    }
    .banner-logo:before{
        display: none;
    }
    .testi-slider.owl-carousel .owl-nav button {
        width: 48%;
    }
    .testi-slider .owl-nav button.owl-prev {
        margin-left: -196px;
    }
    .inner-service-image-box {
        display: flex;
        justify-content: space-around;
    }
    .logos-creating .web-serv-img02 {
        padding: 0;
    }
    .inner-packages-area {
        margin-top: 20px;
    }
    .contact-pg-form .form-wrapper .heading42 {
        font-size: 38px;
    }
    .contact-pg-form .form-area .heading42 {
        font-size: 30px;
    }
    .bnr-img-st, .contact-image{
        display: none;
    }
    .responsive-menu .dropdown-item {
        text-align: center;
    }
    .animation-slider {
        height: 480px;
    }
    .animation-slider-wrap:before {
        right: 0%;
        top: 6%;
    }
    .animation-slider-wrap:after {
        left: 0;
        bottom: 6%;
    }
    .footer-top .row {
        flex-direction: column-reverse;
    }
    .footer-logo-area {
        text-align: left;
    }
    footer .social-icons {
        justify-content: start;
        margin: 20px 0px 20px 0px;
    }
    .form-left-art{
        display: none;
    }
    .popup-main-wrap {
        padding: 50px 36px;
    }
    .cross {
        top: -45px;
    }
    .bark-logo {
        margin: 15px 0 40px 0px;
    }
    .packages-wrapper .owl-nav .owl-prev {
        left: -8%;
    }
    .packages-wrapper .owl-nav .owl-next {
        right: -8%;
    }
}

@media screen and (max-width: 800px) {

    .banner-content .sec-para {
        font-size: 16px;
        padding: 15px 40% 29px 0;
    }
    .sm-content {
        font-size: 16px;
    }
    .lg-content {
        font-size: 22px;
    }

    .port-tabs .nav-item {
        margin-right: 12px;
        margin-bottom: 10px;
    }
    .port-tabs {
        border-bottom: none;
    }

    .banner-side-content {
    left: -72px;
    }
    .sec-para {
        font-size: 15px;
    }
    .footer-form-address ul li {
        padding-bottom: 25px;
    }
    .port-tabs.nav-pills .nav-link {
        font-size: 16px;
    }
    .portfolio-tabs .nav-tabs .nav-link {
        padding: 6px 6px;
    }
}

@media screen and (max-width: 768px) {

 
    .home_banner_content #banner_typewriter {
        font-size: 28px;
        margin-top: 10px;
    }
    .portfolio-tabs .nav-tabs {
        border-bottom: 0;
    }
    .main-header .navbar-brand {
        margin: -20px 0 0 40px;
    }
    .port-tabs .nav-item .nav-link {
        padding: 9px 4px;
        font-size: 14px;
    }
    .default-btn, .default-btn-2 {
        padding: 5px 17px;
    }
    .header-btns .default-btn p {
        display: none;
    }
    .main-burger {
        top: 30%;
    }
    .ft__nav {
        padding-bottom: 10px;
    }
    .ban-img2 {
        right: -90px;
        bottom: 0%;
    }
    .port-slider .owl-stage-outer .owl-item img {
        width: auto !important;
        margin: 0 auto;
    }
    .about-img {
        display: none;
    }
    .create-img {
        display: none;
    }
    .port-slider {
        margin: 0 auto;
    }
    .about-btn .default-btn-2 {
        margin: 4% 0 0 0;
    }
    .banner-content {
        margin: 7% 10% 0% 7%;
    }
    .port-tabs-list {
        justify-content: center;
    }
    .port-img.port-web-img-st:hover img.port-web-st.port-web-th-img1 {
        left: 26%;
    }
    .about-us .sec-para {
        color: #000;
        padding: 30px 0 0px;
    }
    .serv-box-wrap {
        height: 280px;
    }
    .designing-wrapper {
        height: 240px;
    }
    .form-area {
        margin-top: 50px;
    }
    .form-area .sec-para {
        color: #000;
        padding: 10px 0 20px;
    }
    .form-wrapper {
        margin-top: 30px;
    }
    .footer-top {
        padding: 40px 0 20px 0;
    }
    .port-web-st.port-web-th-img1 {
        top: 17%;
        left: 26%;
        height: 75%;
    }
    .port-web-st.port-web-th-img2 {
        top: 17%;
        right: 26% !important;
        height: 75%;
    }
    .about-us .about-btn{
        display: none;
    }
    .about-us {
        margin-top: 0;
    }
    .about-us {
        padding: 30px 0 60px;
    }
    .serv-anim-text-top {
        top: 26%;
        font-size: 90px;
    }
    .logo-side-img ul li img {
        width: auto !important;
    }
    .sec-pad {
        padding: 40px 0;
    }
    .service-text-wrap p {
        font-size: 12px;
    }
    .service-text h3 {
        font-size: 22px;
    }
    .logos-creating .service-tab-wrap {
        padding: 25px 0 25px 0;
    }
    .hover-effect a img {
        width: 80%;
    }
    .testi-slider.owl-carousel .owl-nav button {
        width: 65.2%;
    }
    .inner-banner .heading42 {
        font-size: 48px;
    }
    .contact-detail-wrapper .digital-cta {
        padding: 15px 0;
    }
    .contact-detail-wrapper {
        padding: 30px 30px;
    }
    .modal-images, .inner-banner .heading42 br {
        display: none;
    }
    .get-started-popup {
        padding: 0 6% 0 5%;
        width: 100%;
    }
    .animation-box-head h3 {
        font-size: 18px;
    }
    .animation-slider-wrap:after, .animation-slider-wrap:before{
        display: none;
    }
    .portfolio .portfolio-main-banner {
        background-position: center;
    }
}

@media screen and (max-width: 575px) {

 

    .main-burger {
        top: 26%;
        right: 2%;
    }
    .serv-anim-text-top {
        display: none;
    }
    .animation-slider {
        height: 350px;
    }
    .banner-side-content {
        left: -70px;
    }
    .container-fluid {
        padding: 0 20px;
    }
    .banner-content {
        margin: 7% 5% 0% 10%;
    }
    .port-tabs-list {
        margin-top: 20px;
        justify-content: center;
    }
    .form-btn {
        justify-content: center;
    }
    .about-us {
        padding: 30px 0 30px;
    }
    .service-wrapper {
        margin-top: 35px;
    }
    .footer-bottom .copy-rights ul {
        justify-content: start;
    }
    .port-web-st.port-web-th-img1 {
        left: 15%;
    }
    .port-web-st.port-web-th-img2 {
        right: 15% !important;
    }
    .service-tab-wrap .owl-item img {
        display: block;
        width: auto !important;
    }
    .web-service-box.box-1, .web-service-box.box-2, .web-service-box.box-3{
        border: none;
    }
    .web-service-box{
        height: 300px;
    }
    .hover-effect a img {
        width: 90%;
    }
    .testi-slider.owl-carousel .owl-nav{
        display: none;
    }
    .popup-headig {
        padding-right: 23%;
    }
    .banner_form_btn {
        margin: 10px 0 0 0;
        justify-content: center;
    }
    .home_banner_content #banner_typewriter {
        font-size: 25px;
    }
    .entry-box1 {
        width: 80%;
    }
    .portfolio .portfolio-main-banner {
        background-position: left;
    }
}

@media screen and (max-width: 480px) {
    .home_banner_content h2 {
        font-size: 50px;
    }
    /* .header-btns {
        display: none;
    } */
    .default-btn, .default-btn-2 {
        height: 40px;
    }
    .header-btns .default-btn {
        padding: 0px 10px;
    }
    .inner-banner .heading42 {
        font-size: 42px;
    }
    .banner-side-content {
        bottom: 26%;
    }
    .banner-content {
        margin: 10% 2% 0% 15%;
    }
    .banner-content .sec-para {
        padding: 15px 0% 55px 0;
    }
    .lg-content {
        font-size: 24px;
    }
    .home-logo {
        width: 90%;
    }
    .ban-img2 {
        right: -60px;
        bottom: 0%;
    }
    .testi-wrapper {
        padding: 10px;
    }
    .service-text-wrap p {
        font-size: 13px;
    }
    .popup-headig {
        padding-right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 414px) {


    .container-fluid {
        padding: 0 10px;
    }
    .inner-banner .heading42 {
        font-size: 30px;
    }
    .ban-img, .ban-img2{
        display: none;
    }
    .banner-side-content {
        left: -67px;
        bottom: 21%;
    }
    .banner-content {
        margin: 10% 2% 0% 18%;
    }
    .home-logo {
        width: 70%;
    }
    .header-btns .default-btn {
        padding: 0px 7px;
        font-size: 15px;
        height: 32px;
    }
    .banner-content .ban-sm-head {
        font-size: 26px;
    }
    .pack-btn .default-btn {
        font-size: 13px;
    }
    .banner-content .sec-para {
        padding: 15px 0% 25px 0;
    }
    .heading42 {
        font-size: 36px;
    }
    .main-burger svg {
        width: 45px;
        height: 45px;
    }
    .main-burger {
        top: 24%;
    }
    .services .heading42 br, .packages .heading42 br{
        display: none;
    }
    .main-header {
        padding: 10px 0px;
    }
    .main-cta .banner-btn a:first-child{
        display: none;
    }
    .designing-wrapper {
        height: 280px;
    }
    .digital-serv {
        margin: 30px 0 0 auto;
    }
    .packages-wrapper {
        margin: 0 auto;
    }
    .port-web-st.port-web-th-img1 {
        left: 2%;
    }
    .port-web-st.port-web-th-img2 {
        right: 2% !important;
    }
    .cta-btns .default-btn, .cta-btns .default-btn-2 {
        width: 48%;
    }
    .popup-headig {
        text-align: left;
    }
    .long-h1 {
        font-size: 40px;
        text-align: left;
    }
    .heading-h3 {
        right: -13%;
    }
    .home_banner_social {
        right: 20px;
    }
    .home_banner_content h2 {
        font-size: 40px;
    }
    .home_banner_content #banner_typewriter {
        font-size: 18px;
    }
    .main-header .navbar-brand {
        margin: -20px 0 0 40px;
        max-width: 230px;
    }
    .entry-box1 {
        width: 100%;
    }
}
